<a href="https://colab.research.google.com/github/msskx/deepLearning/blob/main/%E5%A4%9A%E5%B1%82%E6%84%9F%E7%9F%A5%E6%9C%BA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import torch 
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/torch学习笔记/HR.csv")

In [ ]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,part,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   part                   14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [ ]:
data=data.join(pd.get_dummies(data.part))
data=data.join(pd.get_dummies(data.salary))

In [ ]:
del data['part']
del data['salary']

In [ ]:
data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,IT,RandD,...,hr,management,marketing,product_mng,sales,support,technical,high,low,medium
0,0.38,0.53,2,157,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [ ]:
columns=[c for c in data.columns if c!='left']

In [ ]:
x_data=torch.from_numpy(data[columns].values).type(torch.float32)

In [ ]:
y_data=torch.from_numpy(data['left'].values.reshape(-1,1)).type(torch.float32)

In [ ]:
x_data.size(),y_data.size()

(torch.Size([14999, 20]), torch.Size([14999, 1]))

## 自定义模型

In [ ]:
from torch import nn

In [ ]:
from torch.nn.modules.linear import Linear
class Model(nn.Module):
  def __init__(self):
    super().__init__()
    self.liner_1=nn.Linear(20,64)
    self.liner_2=nn.Linear(64,64)
    self.liner_3=nn.Linear(64,1)
    self.relu=nn.ReLU()
    self.sigmoid=nn.Sigmoid()
  def forward(self,input):
    x=self.liner_1(input)
    x=self.relu(x)
    x=self.liner_2(x)
    x=self.relu(x)
    x=self.liner_3(x)
    x=self.sigmoid(x)
    return x

In [ ]:
model=Model()

## 改写模型

In [ ]:
import torch.nn.functional as F

In [ ]:
class Model2(nn.Module):
  def __init__(self):
    super().__init__()
    self.liner_1=nn.Linear(20,64)
    self.liner_2=nn.Linear(64,64)
    self.liner_3=nn.Linear(64,1)
  def forward(self,input):
    x=torch.relu(self.liner_1(input))
    x=torch.relu(self.liner_2(x))
    x=torch.sigmoid(self.liner_3(x))
    return x

In [ ]:
print(Model2())

Model2(
  (liner_1): Linear(in_features=20, out_features=64, bias=True)
  (liner_2): Linear(in_features=64, out_features=64, bias=True)
  (liner_3): Linear(in_features=64, out_features=1, bias=True)
)

In [ ]:
lr=0.0001

def get_model():
  model=Model2()
  opt=torch.optim.Adam(model.parameters(),lr=lr)
  return model,opt

In [ ]:
model,opt=get_model()

In [ ]:
loss_fn=nn.BCELoss()

In [ ]:
batch=64
no_of_batch=len(data)//batch
epochs=100

In [ ]:
for epoch in range(epochs):
  for i in range(no_of_batch):
    start=i*batch
    end=start+batch
    x=x_data[start:end]
    y=y_data[start:end]
    y_pred=model(x)
    loss=loss_fn(y_pred,y)
    opt.zero_grad()
    loss.backward()
    opt.step()
  with torch.no_grad():
    print("epoch:{},loss:{}".format(epoch,loss_fn(model(x_data),y_data)))

epoch:0,loss0.6288749575614929
epoch:1,loss0.6001896858215332
epoch:2,loss0.5935918092727661
epoch:3,loss0.5878665447235107
epoch:4,loss0.5828235745429993
epoch:5,loss0.5785226821899414
epoch:6,loss0.5746849775314331
epoch:7,loss0.5717942118644714
epoch:8,loss0.5688465237617493
epoch:9,loss0.5667498707771301
epoch:10,loss0.5649025440216064
epoch:11,loss0.5637221336364746
epoch:12,loss0.5627334713935852
epoch:13,loss0.5623027086257935
epoch:14,loss0.5618929266929626
epoch:15,loss0.561698853969574
epoch:16,loss0.5603514313697815
epoch:17,loss0.5602059960365295
epoch:18,loss0.5598656535148621
epoch:19,loss0.5600330829620361
epoch:20,loss0.5600609183311462
epoch:21,loss0.5604547262191772
epoch:22,loss0.5606331825256348
epoch:23,loss0.5607776641845703
epoch:24,loss0.5609831213951111
epoch:25,loss0.5610364079475403
epoch:26,loss0.5612607002258301
epoch:27,loss0.5614548921585083
epoch:28,loss0.56150883436203
epoch:29,loss0.5615811944007874
epoch:30,loss0.5608027577400208
epoch:31,loss0.560945451259613
epoch:32,loss0.5610179901123047
epoch:33,loss0.561062216758728
epoch:34,loss0.561023473739624
epoch:35,loss0.5744040608406067
epoch:36,loss0.5604969263076782
epoch:37,loss0.560102641582489
epoch:38,loss0.5599019527435303
epoch:39,loss0.5597742795944214
epoch:40,loss0.5593098402023315
epoch:41,loss0.5560164451599121
epoch:42,loss0.5593592524528503
epoch:43,loss0.5585091710090637
epoch:44,loss0.5580666065216064
epoch:45,loss0.557294487953186
epoch:46,loss0.5569972395896912
epoch:47,loss0.5603191256523132
epoch:48,loss0.5555195808410645
epoch:49,loss0.5530905723571777
epoch:50,loss0.5549405217170715
epoch:51,loss0.5546354055404663
epoch:52,loss0.5524430871009827
epoch:53,loss0.5532929301261902
epoch:54,loss0.5484645962715149
epoch:55,loss0.5529098510742188
epoch:56,loss0.5495465397834778
epoch:57,loss0.5467252135276794
epoch:58,loss0.5504513382911682
epoch:59,loss0.5454463362693787
epoch:60,loss0.5495637655258179
epoch:61,loss0.5482075214385986
epoch:62,loss0.5463053584098816
epoch:63,loss0.542995035648346
epoch:64,loss0.5446344017982483
epoch:65,loss0.5419120788574219
epoch:66,loss0.5415437817573547
epoch:67,loss0.5384107828140259
epoch:68,loss0.5500474572181702
epoch:69,loss0.536182701587677
epoch:70,loss0.5410174131393433
epoch:71,loss0.5384387969970703
epoch:72,loss0.5338609218597412
epoch:73,loss0.5332571864128113
epoch:74,loss0.5316568613052368
epoch:75,loss0.5312260389328003
epoch:76,loss0.5305606722831726
epoch:77,loss0.5451341867446899
epoch:78,loss0.5313590168952942
epoch:79,loss0.5287626385688782
epoch:80,loss0.5267114043235779
epoch:81,loss0.5261427760124207
epoch:82,loss0.524067223072052
epoch:83,loss0.5244765281677246
epoch:84,loss0.528680682182312
epoch:85,loss0.5224186778068542
epoch:86,loss0.5209478139877319
epoch:87,loss0.5196806788444519
epoch:88,loss0.5182889103889465
epoch:89,loss0.5170839428901672
epoch:90,loss0.5164670348167419
epoch:91,loss0.5154186487197876
epoch:92,loss0.5148696899414062
epoch:93,loss0.5160914659500122
epoch:94,loss0.5141623020172119
epoch:95,loss0.5113868713378906
epoch:96,loss0.5106581449508667
epoch:97,loss0.5090949535369873
epoch:98,loss0.5093407034873962
epoch:99,loss0.5067844986915588