<a href="https://colab.research.google.com/github/msskx/deepLearning/blob/main/%E5%A4%9A%E5%B1%82%E6%84%9F%E7%9F%A5%E6%9C%BA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import torch 
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data=pd.read_csv("/content/drive/MyDrive/torch学习笔记/HR.csv")

In [5]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,part,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   part                   14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [7]:
data=data.join(pd.get_dummies(data.part))
data=data.join(pd.get_dummies(data.salary))

In [8]:
del data['part']
del data['salary']

In [9]:
data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,IT,RandD,...,hr,management,marketing,product_mng,sales,support,technical,high,low,medium
0,0.38,0.53,2,157,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [10]:
columns=[c for c in data.columns if c!='left']

In [11]:
x_data=torch.from_numpy(data[columns].values).type(torch.float32)

In [12]:
y_data=torch.from_numpy(data['left'].values.reshape(-1,1)).type(torch.float32)

In [13]:
x_data.size(),y_data.size()

(torch.Size([14999, 20]), torch.Size([14999, 1]))

## 自定义模型

In [14]:
from torch import nn

In [15]:
from torch.nn.modules.linear import Linear
class Model(nn.Module):
  def __init__(self):
    super().__init__()
    self.liner_1=nn.Linear(20,64)
    self.liner_2=nn.Linear(64,64)
    self.liner_3=nn.Linear(64,1)
    self.relu=nn.ReLU()
    self.sigmoid=nn.Sigmoid()
  def forward(self,input):
    x=self.liner_1(input)
    x=self.relu(x)
    x=self.liner_2(x)
    x=self.relu(x)
    x=self.liner_3(x)
    x=self.sigmoid(x)
    return x

In [16]:
model=Model()

## 改写模型

In [17]:
import torch.nn.functional as F

In [18]:
class Model2(nn.Module):
  def __init__(self):
    super().__init__()
    self.liner_1=nn.Linear(20,64)
    self.liner_2=nn.Linear(64,64)
    self.liner_3=nn.Linear(64,1)
  def forward(self,input):
    x=torch.relu(self.liner_1(input))
    x=torch.relu(self.liner_2(x))
    x=torch.sigmoid(self.liner_3(x))
    return x

In [19]:
print(Model2())

Model2(
  (liner_1): Linear(in_features=20, out_features=64, bias=True)
  (liner_2): Linear(in_features=64, out_features=64, bias=True)
  (liner_3): Linear(in_features=64, out_features=1, bias=True)
)

In [20]:
lr=0.0001

def get_model():
  model=Model2()
  opt=torch.optim.Adam(model.parameters(),lr=lr)
  return model,opt

In [21]:
model,opt=get_model()

In [22]:
loss_fn=nn.BCELoss()

In [23]:
batch=64
no_of_batch=len(data)//batch
epochs=100

In [25]:
for epoch in range(epochs):
  for i in range(no_of_batch):
    start=i*batch
    end=start+batch
    x=x_data[start:end]
    y=y_data[start:end]
    y_pred=model(x)
    loss=loss_fn(y_pred,y)
    opt.zero_grad()
    loss.backward()
    opt.step()
  # with torch.no_grad():
  #   print("epoch:{},loss:{}".format(epoch,loss_fn(model(x_data),y_data)))

## 使用Dataset重构数据

In [26]:
model,opt=get_model()

In [27]:
from torch.utils.data import TensorDataset

In [28]:
HRdataset=TensorDataset(x_data,y_data)

In [ ]:
for epoch in range(epochs):
  for i in range(no_of_batch):
    x,y=HRdataset[i*batch:i*batch+batch]
    y_pred=model(x)
    loss=loss_fn(y_pred,y)
    opt.zero_grad()
    loss.backward()
    opt.step()
  with torch.no_grad():
    print("epoch:{},loss:{}".format(epoch,loss_fn(model(x_data),y_data)))

## 使用Dataloader

In [30]:
model,opt=get_model()

In [32]:
from torch.utils.data import DataLoader

In [33]:
HR_ds=TensorDataset(x_data,y_data)
HR_dl=DataLoader(HR_ds,batch_size=64,shuffle=True)

In [ ]:
for epoch in range(epochs):
  for x,y in HR_dl:
    y_pred=model(x)
    loss=loss_fn(y_pred,y)
    opt.zero_grad()
    loss.backward()
    opt.step()
  with torch.no_grad():
    print("epoch:{},loss:{}".format(epoch,loss_fn(model(x_data),y_data)))

## 划分数据集

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
train_x,test_x,train_y,test_y=train_test_split(x_data,y_data)

In [42]:
# train_x=torch.from_numpy(train_x).type(torch.float32)
# test_x=torch.from_numpy(test_x).type(torch.float32)
# train_y=torch.from_numpy(train_y).type(torch.float32)
# test_y=torch.from_numpy(test_y).type(torch.float32)

In [43]:
train_ds=TensorDataset(train_x,train_y)
train_dl=DataLoader(train_ds,batch_size=64,shuffle=True)

In [44]:
test_ds=TensorDataset(test_x,test_y)
test_dl=DataLoader(test_ds,batch_size=64,shuffle=True)

## 打印测试准确率

In [45]:
def accuracy(y_pred,y_true):
  y_pred=(y_pred>0.5).type(torch.int32)
  acc=(y_pred==y_true).float().mean()
  return acc

In [46]:
model,opt=get_model()

In [53]:
for epoch in range(epochs):
  for x,y in HR_dl:
    y_pred=model(x)
    loss=loss_fn(y_pred,y)
    opt.zero_grad()
    loss.backward()
    opt.step()
  with torch.no_grad():
    print(f'epoch:{epoch+1},train_loss:{round(loss_fn(model(train_x),train_y).item(),3)},train_acc:{round(accuracy(model(train_x),train_y).item(),3)}',end="+++")
    print(f'test_loss:{round(loss_fn(model(test_x),test_y).item(),3)},test_acc:{round(accuracy(model(test_x),test_y).item(),3)}')

epoch:1,train_loss:0.326,train_acc:0.841+++test_loss:0.326,test_acc:0.839
epoch:2,train_loss:0.325,train_acc:0.849+++test_loss:0.324,test_acc:0.846
epoch:3,train_loss:0.334,train_acc:0.813+++test_loss:0.334,test_acc:0.806
epoch:4,train_loss:0.321,train_acc:0.838+++test_loss:0.32,test_acc:0.835
epoch:5,train_loss:0.319,train_acc:0.858+++test_loss:0.318,test_acc:0.861
epoch:6,train_loss:0.313,train_acc:0.852+++test_loss:0.311,test_acc:0.846
epoch:7,train_loss:0.316,train_acc:0.864+++test_loss:0.315,test_acc:0.868
epoch:8,train_loss:0.31,train_acc:0.853+++test_loss:0.309,test_acc:0.845
epoch:9,train_loss:0.308,train_acc:0.851+++test_loss:0.306,test_acc:0.846
epoch:10,train_loss:0.309,train_acc:0.871+++test_loss:0.306,test_acc:0.874
epoch:11,train_loss:0.316,train_acc:0.867+++test_loss:0.314,test_acc:0.87
epoch:12,train_loss:0.301,train_acc:0.867+++test_loss:0.299,test_acc:0.869
epoch:13,train_loss:0.299,train_acc:0.869+++test_loss:0.296,test_acc:0.869
epoch:14,train_loss:0.297,train_acc:0.868+++test_loss:0.294,test_acc:0.868
epoch:15,train_loss:0.294,train_acc:0.868+++test_loss:0.289,test_acc:0.865
epoch:16,train_loss:0.294,train_acc:0.87+++test_loss:0.289,test_acc:0.869
epoch:17,train_loss:0.309,train_acc:0.841+++test_loss:0.303,test_acc:0.835
epoch:18,train_loss:0.288,train_acc:0.876+++test_loss:0.283,test_acc:0.877
epoch:19,train_loss:0.293,train_acc:0.881+++test_loss:0.288,test_acc:0.889
epoch:20,train_loss:0.287,train_acc:0.881+++test_loss:0.283,test_acc:0.886
epoch:21,train_loss:0.284,train_acc:0.881+++test_loss:0.279,test_acc:0.884
epoch:22,train_loss:0.284,train_acc:0.886+++test_loss:0.278,test_acc:0.892
epoch:23,train_loss:0.282,train_acc:0.883+++test_loss:0.277,test_acc:0.887
epoch:24,train_loss:0.28,train_acc:0.877+++test_loss:0.275,test_acc:0.872
epoch:25,train_loss:0.278,train_acc:0.89+++test_loss:0.27,test_acc:0.898
epoch:26,train_loss:0.276,train_acc:0.89+++test_loss:0.268,test_acc:0.896
epoch:27,train_loss:0.275,train_acc:0.885+++test_loss:0.268,test_acc:0.887
epoch:28,train_loss:0.273,train_acc:0.891+++test_loss:0.265,test_acc:0.897
epoch:29,train_loss:0.275,train_acc:0.897+++test_loss:0.267,test_acc:0.902
epoch:30,train_loss:0.276,train_acc:0.88+++test_loss:0.269,test_acc:0.877
epoch:31,train_loss:0.27,train_acc:0.894+++test_loss:0.262,test_acc:0.896
epoch:32,train_loss:0.287,train_acc:0.89+++test_loss:0.28,test_acc:0.895
epoch:33,train_loss:0.27,train_acc:0.891+++test_loss:0.261,test_acc:0.891
epoch:34,train_loss:0.269,train_acc:0.899+++test_loss:0.261,test_acc:0.906
epoch:35,train_loss:0.272,train_acc:0.897+++test_loss:0.263,test_acc:0.904
epoch:36,train_loss:0.266,train_acc:0.901+++test_loss:0.258,test_acc:0.906
epoch:37,train_loss:0.266,train_acc:0.901+++test_loss:0.258,test_acc:0.903
epoch:38,train_loss:0.262,train_acc:0.904+++test_loss:0.253,test_acc:0.906
epoch:39,train_loss:0.269,train_acc:0.898+++test_loss:0.259,test_acc:0.906
epoch:40,train_loss:0.263,train_acc:0.903+++test_loss:0.252,test_acc:0.91
epoch:41,train_loss:0.26,train_acc:0.903+++test_loss:0.25,test_acc:0.907
epoch:42,train_loss:0.261,train_acc:0.902+++test_loss:0.25,test_acc:0.904
epoch:43,train_loss:0.261,train_acc:0.904+++test_loss:0.25,test_acc:0.909
epoch:44,train_loss:0.259,train_acc:0.908+++test_loss:0.249,test_acc:0.914
epoch:45,train_loss:0.26,train_acc:0.903+++test_loss:0.247,test_acc:0.911
epoch:46,train_loss:0.264,train_acc:0.9+++test_loss:0.253,test_acc:0.907
epoch:47,train_loss:0.263,train_acc:0.9+++test_loss:0.252,test_acc:0.907
epoch:48,train_loss:0.255,train_acc:0.909+++test_loss:0.243,test_acc:0.913
epoch:49,train_loss:0.254,train_acc:0.91+++test_loss:0.242,test_acc:0.917
epoch:50,train_loss:0.256,train_acc:0.906+++test_loss:0.243,test_acc:0.907
epoch:51,train_loss:0.252,train_acc:0.908+++test_loss:0.24,test_acc:0.915
epoch:52,train_loss:0.263,train_acc:0.898+++test_loss:0.252,test_acc:0.907
epoch:53,train_loss:0.255,train_acc:0.906+++test_loss:0.245,test_acc:0.913
epoch:54,train_loss:0.252,train_acc:0.908+++test_loss:0.239,test_acc:0.912
epoch:55,train_loss:0.264,train_acc:0.9+++test_loss:0.25,test_acc:0.9
epoch:56,train_loss:0.265,train_acc:0.9+++test_loss:0.25,test_acc:0.898
epoch:57,train_loss:0.253,train_acc:0.911+++test_loss:0.242,test_acc:0.914
epoch:58,train_loss:0.258,train_acc:0.901+++test_loss:0.246,test_acc:0.906
epoch:59,train_loss:0.257,train_acc:0.906+++test_loss:0.246,test_acc:0.901
epoch:60,train_loss:0.248,train_acc:0.911+++test_loss:0.235,test_acc:0.915
epoch:61,train_loss:0.261,train_acc:0.899+++test_loss:0.25,test_acc:0.905
epoch:62,train_loss:0.247,train_acc:0.913+++test_loss:0.233,test_acc:0.919
epoch:63,train_loss:0.25,train_acc:0.909+++test_loss:0.238,test_acc:0.915
epoch:64,train_loss:0.246,train_acc:0.913+++test_loss:0.234,test_acc:0.916
epoch:65,train_loss:0.247,train_acc:0.912+++test_loss:0.235,test_acc:0.916
epoch:66,train_loss:0.258,train_acc:0.9+++test_loss:0.245,test_acc:0.908
epoch:67,train_loss:0.243,train_acc:0.914+++test_loss:0.23,test_acc:0.919
epoch:68,train_loss:0.251,train_acc:0.904+++test_loss:0.239,test_acc:0.914
epoch:69,train_loss:0.248,train_acc:0.914+++test_loss:0.238,test_acc:0.912
epoch:70,train_loss:0.246,train_acc:0.912+++test_loss:0.234,test_acc:0.915
epoch:71,train_loss:0.242,train_acc:0.915+++test_loss:0.232,test_acc:0.914
epoch:72,train_loss:0.241,train_acc:0.915+++test_loss:0.228,test_acc:0.919
epoch:73,train_loss:0.242,train_acc:0.916+++test_loss:0.229,test_acc:0.919
epoch:74,train_loss:0.243,train_acc:0.916+++test_loss:0.227,test_acc:0.922
epoch:75,train_loss:0.245,train_acc:0.911+++test_loss:0.229,test_acc:0.917
epoch:76,train_loss:0.242,train_acc:0.914+++test_loss:0.227,test_acc:0.92
epoch:77,train_loss:0.243,train_acc:0.912+++test_loss:0.229,test_acc:0.919
epoch:78,train_loss:0.245,train_acc:0.909+++test_loss:0.232,test_acc:0.917
epoch:79,train_loss:0.241,train_acc:0.914+++test_loss:0.229,test_acc:0.917
epoch:80,train_loss:0.243,train_acc:0.912+++test_loss:0.23,test_acc:0.915
epoch:81,train_loss:0.239,train_acc:0.914+++test_loss:0.226,test_acc:0.92
epoch:82,train_loss:0.24,train_acc:0.912+++test_loss:0.227,test_acc:0.92
epoch:83,train_loss:0.236,train_acc:0.919+++test_loss:0.221,test_acc:0.925
epoch:84,train_loss:0.243,train_acc:0.916+++test_loss:0.226,test_acc:0.919
epoch:85,train_loss:0.252,train_acc:0.906+++test_loss:0.231,test_acc:0.917
epoch:86,train_loss:0.24,train_acc:0.912+++test_loss:0.224,test_acc:0.921
epoch:87,train_loss:0.24,train_acc:0.917+++test_loss:0.227,test_acc:0.921
epoch:88,train_loss:0.243,train_acc:0.909+++test_loss:0.227,test_acc:0.918
epoch:89,train_loss:0.236,train_acc:0.915+++test_loss:0.22,test_acc:0.923
epoch:90,train_loss:0.234,train_acc:0.919+++test_loss:0.22,test_acc:0.923
epoch:91,train_loss:0.247,train_acc:0.91+++test_loss:0.227,test_acc:0.917
epoch:92,train_loss:0.241,train_acc:0.91+++test_loss:0.229,test_acc:0.915
epoch:93,train_loss:0.235,train_acc:0.916+++test_loss:0.219,test_acc:0.924
epoch:94,train_loss:0.24,train_acc:0.912+++test_loss:0.227,test_acc:0.918
epoch:95,train_loss:0.235,train_acc:0.92+++test_loss:0.217,test_acc:0.927
epoch:96,train_loss:0.241,train_acc:0.915+++test_loss:0.223,test_acc:0.918
epoch:97,train_loss:0.233,train_acc:0.916+++test_loss:0.221,test_acc:0.92
epoch:98,train_loss:0.234,train_acc:0.92+++test_loss:0.219,test_acc:0.924
epoch:99,train_loss:0.234,train_acc:0.919+++test_loss:0.218,test_acc:0.922
epoch:100,train_loss:0.245,train_acc:0.914+++test_loss:0.231,test_acc:0.916