<a href="https://colab.research.google.com/github/msskx/deepLearning/blob/main/%E9%80%BB%E8%BE%91%E5%9B%9E%E5%BD%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import torch
import numpy as np
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data=pd.read_csv("./drive/MyDrive/torch学习笔记/credit-a.csv",header=None)

In [15]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0,30.83,0.000,0,0,9,0,1.25,0,0,1,1,0,202,0.0,-1
1,1,58.67,4.460,0,0,8,1,3.04,0,0,6,1,0,43,560.0,-1
2,1,24.50,0.500,0,0,8,1,1.50,0,1,0,1,0,280,824.0,-1
3,0,27.83,1.540,0,0,9,0,3.75,0,0,5,0,0,100,3.0,-1
4,0,20.17,5.625,0,0,9,0,1.71,0,1,0,1,2,120,0.0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,0,21.08,10.085,1,1,11,1,1.25,1,1,0,1,0,260,0.0,1
649,1,22.67,0.750,0,0,0,0,2.00,1,0,2,0,0,200,394.0,1
650,1,25.25,13.500,1,1,13,7,2.00,1,0,1,0,0,200,1.0,1
651,0,17.92,0.205,0,0,12,0,0.04,1,1,0,1,0,280,750.0,1
652,0,35.00,3.375,0,0,0,1,8.29,1,1,0,0,0,0,0.0,1

In [12]:
X=torch.from_numpy(data.iloc[:,:-1].values).type(torch.float32)

In [13]:
Y=torch.from_numpy(data.iloc[:,-1].values).type(torch.float32)

tensor([[0.0000e+00, 3.0830e+01, 0.0000e+00,  ..., 0.0000e+00, 2.0200e+02,
         0.0000e+00],
        [1.0000e+00, 5.8670e+01, 4.4600e+00,  ..., 0.0000e+00, 4.3000e+01,
         5.6000e+02],
        [1.0000e+00, 2.4500e+01, 5.0000e-01,  ..., 0.0000e+00, 2.8000e+02,
         8.2400e+02],
        ...,
        [1.0000e+00, 2.5250e+01, 1.3500e+01,  ..., 0.0000e+00, 2.0000e+02,
         1.0000e+00],
        [0.0000e+00, 1.7920e+01, 2.0500e-01,  ..., 0.0000e+00, 2.8000e+02,
         7.5000e+02],
        [0.0000e+00, 3.5000e+01, 3.3750e+00,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00]])